@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
    margin: 5%; 
    text-align: center;
    background: #111;
    color: #333; 
}
h1 {
    font-size: 2em; 
    margin-bottom: .5rem;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  } 


.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  .profile .row h1, .profile .row h2 {
      margin:0;
}

  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: space-between;
  }

.row .col-3 img {
    max-width:300px;
    max-height:300px;
    border: 1px solid black;
}
  
  .col-3 {
    flex-basis: 30%;
  }
  
  .col-9 {
    flex-basis: 70%;
  }
  
  .col-6 {
    flex-basis: 50%;
  }
  
  .col-12 {
    flex-basis: 100%;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
.smallerTable th {
    width:25%;
}

.smallTable th {
    width:33%;
}
  th {
    text-align: left;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #ddd;
  }
  
  td {
    text-align: left;
    padding: 5px;
    border: 1px solid #ddd;
  }
  

  .rating {
    display: inline-block;
    font-size: 1.5em;
    text-shadow: 0 0 10px #fff;
    cursor: default;
  }
  
  .star {
    cursor: default;
    color: #ddd;
  }
  
  .star.filled {
    color: rgb(255, 247, 19);
    animation: fade-in 2s forwards;
    -webkit-text-stroke: 1px black;
    cursor: default;
  }
.star.hollow {
    color: rgb(138, 136, 131);
    animation: fade-in 2s forwards;
    -webkit-text-stroke: 1px black;
    cursor: default;
}

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
  
